$titulo:'Sansita Swashed', cursive;
$titulo2:'Bitter', serif;
$parrafo:'Source Sans Pro', sans-serif;
$bgdark:rgb(33, 37, 41);
$color-cafe:rgb(194, 164, 129);
$shadow:0px 0px 5px rgb(194, 164, 129), 0px 0px 5px rgb(194, 164, 129);
$boxshadow:0px 0px 8px whitesmoke,  1px 1px 8px whitesmoke;